.footer{
    position: fixed;
    bottom: 0;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: #F7CA18;
    padding: 18px;

}

.item{
    margin: 150px;
}