.list{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 2px 6px gray;
    width: 500px;
    margin: -7px auto;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.deleteButton{
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: #F7CA18;
    padding: 12px 20px;
    color: white;
    cursor: pointer;
}

.Completed{
    text-decoration: line-through;
}
